.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  padding: 4rem 0;
}

.features h3 {
  margin-bottom: 1rem;
}

.features p {
  font-size: 1rem;
  line-height: 1.6;
}
